In [1]:
import pandas as pd

In [6]:
#df=pd.read_csv('linear_regression_total_journey_tt_scores.csv')
df=pd.read_csv('linear_regression_tt_scores.csv')

In [10]:
df.drop_duplicates()

,route,<3,<10,<30,<60,<120,>120,overall
0,NaN,180.0,600.0,1800.0,3600.0,7200.0,greater_than_2_hours,overall
1,all_,828.0,2614.0,5772.0,8701.0,12100.0,4211.0,5212.0
3,116,842.0,2540.0,6012.0,10209.0,12759.0,NaN,6349.0
5,118,157.0,370.0,803.0,1071.0,NaN,NaN,689.0
7,11,693.0,2190.0,4460.0,6230.0,7075.0,4375.0,4454.0
9,120,380.0,1095.0,1644.0,2098.0,2737.0,NaN,1020.0
11,122,525.0,1642.0,3415.0,5438.0,6208.0,NaN,3345.0
13,123,528.0,1566.0,2913.0,3778.0,4166.0,NaN,2631.0
15,130,308.0,966.0,1665.0,1853.0,2111.0,NaN,1071.0
17,13,855.0,2901.0,6969.0,10963.0,18870.0,NaN,8258.0
19,140,495.0,1439.0,2916.0,3822.0,5029.0,NaN,2624.0
21,142,919.0,2392.0,3985.0,6150.0,11393.0,NaN,4252.0
23,145,510.0,1615.0,4002.0,6282.0,7214.0,4418.0,3858.0
25,14C,291.0,914.0,1549.0,1336.0,NaN,NaN,924.0
27,14,559.0,1842.0,4231.0,6260.0,8952.0,5102.0,4353.0
29,150,308.0,927.0,1588.0,1569.0,1915.0,NaN,1079.0
31,151,456.0,1448.0,3030.0,3917.0,4516.0,NaN,2511.0
33,15A,445.0,1313.0,2235.0,2339.0,1435.0,NaN,1658.0
35,15B,424.0,1358.0,2819.0,3262.0,3418.0,5309.0,2175.0
37,15D,275.0,731.0,1629.0,1881.0,NaN,NaN,1372.0
39,15,497.0,1571.0,3597.0,5694.0,7524.0,9550.0,4013.0
41,16C,44.0,106.0,200.0,651.0,NaN,NaN,109.0
43,16D,933.0,3299.0,7529.0,12699.0,NaN,NaN,9351.0
45,16,577.0,1827.0,4112.0,6502.0,9175.0,NaN,4742.0
47,17A,763.0,2442.0,5721.0,8458.0,12012.0,NaN,5189.0
49,1,444.0,1336.0,2564.0,3187.0,NaN,NaN,2221.0
51,25A,381.0,1106.0,2266.0,2927.0,3312.0,NaN,1819.0
53,25B,398.0,1129.0,2339.0,3065.0,3236.0,NaN,1874.0
55,25D,188.0,571.0,1200.0,1391.0,NaN,NaN,1009.0
57,25,394.0,1164.0,2261.0,2521.0,NaN,NaN,1574.0
...,...,...,...,...,...,...,...,...
159,61,718.0,2131.0,4285.0,5512.0,6302.0,4552.0,3148.0
161,65B,494.0,1571.0,3464.0,4168.0,3921.0,NaN,2755.0
163,65,554.0,1830.0,4193.0,6129.0,6371.0,NaN,3962.0
165,66A,473.0,1552.0,3235.0,3784.0,NaN,NaN,2307.0
167,66B,534.0,1784.0,3651.0,4284.0,NaN,NaN,2631.0
169,66,590.0,1828.0,4195.0,5721.0,5611.0,NaN,3330.0
171,66X,906.0,2409.0,5248.0,8046.0,9250.0,NaN,6193.0
173,67,592.0,1744.0,3996.0,5499.0,6343.0,NaN,3284.0
175,67X,698.0,1673.0,3572.0,5158.0,8901.0,NaN,4034.0
177,68A,780.0,1949.0,3072.0,NaN,NaN,NaN,2233.0
179,68,440.0,1506.0,3490.0,4970.0,4560.0,NaN,3107.0
181,68X,559.0,1638.0,3150.0,4080.0,3052.0,NaN,2552.0
183,69,497.0,1639.0,3819.0,5226.0,4731.0,NaN,3140.0
185,69X,296.0,520.0,966.0,1334.0,NaN,NaN,1059.0
187,70D,234.0,612.0,1320.0,1793.0,NaN,NaN,1166.0
189,70,500.0,1435.0,2962.0,4131.0,4149.0,NaN,2689.0
191,77A,515.0,1749.0,4426.0,6643.0,7017.0,4208.0,4246.0
193,77X,386.0,1028.0,2896.0,NaN,NaN,NaN,4414.0
195,79A,353.0,1062.0,1809.0,1756.0,NaN,NaN,1280.0
197,79,306.0,907.0,1512.0,1359.0,1685.0,NaN,1050.0
199,7A,420.0,1341.0,3012.0,4216.0,4672.0,NaN,2572.0
201,7B,455.0,1258.0,2881.0,4586.0,4932.0,NaN,2879.0
203,7D,804.0,2718.0,6490.0,9192.0,NaN,NaN,5586.0
205,7,377.0,1159.0,2535.0,3171.0,2886.0,NaN,2028.0
207,83A,535.0,1740.0,3779.0,5848.0,6804.0,NaN,3874.0
209,83,487.0,1561.0,3375.0,5528.0,7808.0,NaN,3536.0
211,84A,263.0,772.0,1366.0,1384.0,NaN,NaN,1086.0
213,84,732.0,2452.0,5506.0,8841.0,12377.0,NaN,6213.0
215,84X,275.0,720.0,1657.0,2648.0,3048.0,NaN,1871.0
217,9,522.0,1597.0,3521.0,5879.0,8181.0,NaN,3855.0

In [4]:
#df1=pd.read_csv('random_forest_total_journey_tt_scores.csv')
df1=pd.read_csv('random_forest_tt_scores.csv')

In [5]:
df1.head()

  route         <60         <120         >120     overall
0   145  461.817990   516.250467  1933.183453  537.272455
1   14C  281.195122          NaN          NaN  279.830097
2    14  358.811785   494.432659  2069.752475  494.617579
3   150  282.284945  1102.650862  5740.000000  311.990006
4   151  306.386564   383.060323  6402.200000  355.493216

In [40]:
df1=df1.drop(['features', 'n_est', 'max_depth', 'train/test/CV', 'date'],1)

In [41]:
df=pd.merge(df, df1, on=['route'])

In [47]:
df.loc[df.mean_squared_error_x<df.mean_squared_error_y]

Empty DataFrame
Columns: [route, mae_x, mean_squared_error_x, r2_x, mae_y, mean_squared_error_y, r2_y, size]
Index: []