In [130]:
import pandas as pd

In [131]:
#df=pd.read_csv('linear_regression_total_journey_tt_scores.csv')
df=pd.read_csv('linear_regression_total_journey_tt_scores.csv')

In [132]:
#df1=pd.read_csv('random_forest_total_journey_tt_scores.csv')
df1=pd.read_csv('random_forest_total_journey_tt_scores.csv')

In [133]:
df=pd.merge(df, df1, on=['route'])

## Check for any linear regression models which produce a better error score than random forest

In [121]:
df.loc[df['overall_x']<df['overall_y']]

Empty DataFrame
Columns: [route, <60_x, <120_x, >120_x, overall_x, <60_y, <120_y, >120_y, overall_y]
Index: []

In [122]:
scores=pd.DataFrame()
scores['routes']=df.route
scores['RF_diff']=df['overall_x']-df['overall_y']

In [123]:
scores.head()

  routes  RF_diff
0    145  13928.0
1    14C   3149.0
2     14  16061.0
3    150   3618.0
4    151   9100.0

In [124]:
scores.loc[scores.RF_diff<60]

  routes  RF_diff
9    16C     58.0

In [125]:
scores.loc[scores.RF_diff<300]

  routes  RF_diff
9    16C     58.0

## No linear regression models are better overall than random forest. I will further check for the breakdown of routes into segments.

In [126]:
df.loc[(df['<60_x']<df['<60_y']) & (df['<60_x'].notnull())]

Empty DataFrame
Columns: [route, <60_x, <120_x, >120_x, overall_x, <60_y, <120_y, >120_y, overall_y]
Index: []

In [127]:
df.loc[(df['<120_x']<df['<120_y'])& (df['<120_x'].notnull())]

   route   <60_x  <120_x  >120_x  overall_x  <60_y  <120_y  >120_y  overall_y
9    16C   300.0  1041.0     NaN      302.0  241.0  1358.0     NaN      244.0
18   130  4114.0  2157.0     NaN     4105.0  237.0  2171.0     NaN      238.0
67   44B  1698.0  1949.0     NaN     1694.0  323.0  3703.0     NaN      329.0

In [128]:
df.loc[(df['>120_x']<df['>120_y'])& (df['>120_x'].notnull())]

,route,<60_x,<120_x,>120_x,overall_x,<60_y,<120_y,>120_y,overall_y
3,150,3989.0,3050.0,1616.0,3930.0,282.0,1103.0,5740.0,312.0
17,123,9818.0,10108.0,3139.0,9926.0,261.0,551.0,6737.0,403.0
24,1,8533.0,8128.0,3078.0,8423.0,292.0,621.0,6366.0,370.0
32,27B,5524.0,5093.0,1575.0,5451.0,250.0,695.0,6945.0,294.0
42,33D,5364.0,4937.0,898.0,5130.0,264.0,610.0,4090.0,457.0
55,40D,5832.0,5190.0,1713.0,5745.0,236.0,604.0,7699.0,277.0
62,41,8541.0,8380.0,3855.0,8389.0,428.0,607.0,5799.0,520.0
65,42,8785.0,8429.0,2953.0,8607.0,276.0,483.0,5787.0,333.0
72,49,7563.0,7062.0,3265.0,7293.0,305.0,580.0,4354.0,445.0
77,54A,6588.0,6037.0,2070.0,6293.0,296.0,531.0,4440.0,416.0
102,7,7815.0,7332.0,4001.0,7413.0,386.0,716.0,4194.0,644.0

There are a few routes where the linear regression performs better than random forest for longer distance travel time predictions. For journeys longer than 2 hours, linear regression performs significantly better for the above routes.